<mat-toolbar color="primary" class="mat-elevation-z3">
  <span class="spacer"></span>
  <span>{{ username }}'s To Do List</span>
  <span class="spacer"></span>

  <button mat-raised-button color="dark" matBadge="{{itemCount}}" matBadgePosition="before" matBadgeColor="accent">
    <mat-icon>checklist</mat-icon>
  </button>
</mat-toolbar>

<div class="inputContainer">
  <mat-form-field class="fullWidth">
    <mat-label style="padding-left: 5px;">New To Do</mat-label>
    <input matInput placeholder="Enter to-do description" #todoText>
    <button matSuffix mat-raised-button color="accent" class="addButton" (click)="addItem(todoText.value); todoText.value = ''">
      Add
    </button>
  </mat-form-field>
</div>

<div class="tableContainer">
  <table mat-table [dataSource]="items" class="mat-elevation-z3 fullWidth">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
    </ng-container>

    <ng-container matColumnDef="task">
      <th mat-header-cell *matHeaderCellDef>Task</th>
      <td mat-cell *matCellDef="let item">
        <div class="task-item">
          <div *ngIf="!item.editing">
            <div>{{ item.task }}</div>
            <div class="type-pills">
              <span *ngFor="let type of item.types" class="mat-badge" [ngStyle]="{ 'background-color': type.color }">
                {{ type.name }}
              </span>
            </div>
          </div>
          <div *ngIf="item.editing">
            <input [(ngModel)]="item.task" name="task" placeholder="Edit task" required>
            <div class="type-pills">
              <span *ngFor="let type of types" class="mat-badge" [ngStyle]="{ 'background-color': type.color }">
                <mat-checkbox [(ngModel)]="item.types[type.name]"></mat-checkbox>
                {{ type.name }}
              </span>
            </div>
            <button mat-icon-button color="primary" (click)="saveItem(item)">
              <mat-icon>done</mat-icon>
            </button>
          </div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="done">
      <th mat-header-cell *matHeaderCellDef>Done</th>
      <td mat-cell *matCellDef="let item">
        <mat-checkbox [(ngModel)]="item.complete" color="primary"></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let item">
        <button mat-icon-button color="primary" (click)="editItem(item)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['id', 'task', 'done', 'actions']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['id', 'task', 'done', 'actions'];"></tr>
  </table>
</div>
